@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Solway:wght@300;400;500;700;800&display=swap');

@import "tailwindcss";

@layer utilities {
  .font-bodoni {
    font-family: "Bodoni Moda", serif;
  }

  .solway-light {
    font-family: "Solway", serif;
  }
}
